.tileset-view {
    float: left;
}

.tile-view {
    float: left;
}

.brush-view {
    padding: 0;
}

.brush-view button {
    border: none;
    padding: 5px 10px;
}

.brush-view table {
    margin-top: 0;
}

.chr-wrapper {
    position: relative;
}

.chr-wrapper.chr-1x {
    width: 138px;
    height: 138px;
}

.chr-wrapper.chr-2x {
    width: 274px;
    height: 274px;
}

table.chr {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1000;
}

.chr-wrapper canvas {
    position: absolute;
    z-index: 800;
    border: 1px solid black;
}

.chr-wrapper.chr-1x canvas {
    left: 8px;
    top: 8px;
}

.chr-wrapper.chr-2x canvas {
    left: 16px;
    top: 15px;
}

.chr {
    font-family: monospace;
}

.chr.active [tile]:hover {
    background-color: pink;
}
.chr.active [tile] {
    cursor: pointer;
}

.chr.chr-1x {
    line-height: 7px;
}

.chr.chr-1x tr, .tile.tile-1x tr {
    font-size: 7px;
    height: 8px;
    max-height: 8px;
}

.chr.chr-1x th, .chr.chr-1x td {
    width: 8px;
    max-width: 8px;
    padding: 0;
    text-align: center;
}

.chr.chr-2x {
    line-height: 16px;
}

.chr.chr-2x tr {
    font-size: 16px;
    height: 16px;
    max-height: 16px;
}

.chr.chr-2x th, .chr.chr-2x td {
    width: 16px;
    max-width: 16px;
    padding: 0;
    text-align: center;
}

.chr.chr-4x {
    line-height: 32px;
}

.chr.chr-4x tr {
    font-size: 32px;
    height: 32px;
    max-height: 32px;
}

.chr.chr-4x th, .chr.chr-4x td {
    width: 32px;
    max-width: 32px;
}

table.tile {
    border: 1px solid black;
}

.tile.active td:hover {
    background-color: pink;
}
.tile.active td {
    cursor:pointer;
}

.tile.tile-1x {
    line-height: 1px;
    font-size: 1px;
}

.tile.tile-1x tr {
    height: 1px;
    max-height: 1px;
}

.tile.tile-1x td {
    width: 1px;
    max-width: 1px;
}

.tile.tile-4x tr {
    height: 4px;
    max-height: 4px;
}

.tile.tile-4x td {
    width: 4px;
    max-width: 4px;
}

.tile.tile-16x tr {
    height: 16px;
    max-height: 16px;
}

.tile.tile-16x td {
    width: 16px;
    max-width: 16px;
}

.tile.tile-32x tr {
    height: 32px;
    max-height: 32px;
}

.tile.tile-32x td {
    width: 32px;
    max-width: 32px;
}

.tile td[value='0'] {
    background-color: #9bbc0f;
}

.tile td[value='1'] {
    background-color: #8bac0f;
}

.tile td[value='2'] {
    background-color: #306230;
}

.tile td[value='3'] {
    background-color: #0f380f;
}
